CMrestAPItoKuduYARNmemory2023.12.12.json
{"flowContents":{"identifier":"54ecd938-8e26-3a2b-988a-f3a216970b9d","instanceIdentifier":"608b5034-2ce3-3584-b128-8037c9b33d04","name":"CMrestAPItoKuduYARNmemory","comments":"call the cm api\nuse John K jolt to move applicaitonid to first entry\ntolower.py for lower case\nputkudu","position":{"x":768.0,"y":280.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"64406251-909c-3863-bfa0-95e8d373b149","instanceIdentifier":"64406251-909c-3863-9825-39c32e296851","name":"RouteOnAttribute","comments":"","position":{"x":-40.0,"y":416.0},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.18.0.2.1.5.0-215"},"properties":{"Routing Strategy":"Route to Property name","checkfilesize":"${fileSize:lt(50)}"},"propertyDescriptors":{"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false},"checkfilesize":{"name":"checkfilesize","displayName":"checkfilesize","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["checkfilesize"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"54ecd938-8e26-3a2b-988a-f3a216970b9d"},{"identifier":"3c5427da-853a-32c1-9e7e-9d3036dfa477","instanceIdentifier":"3c5427da-853a-32c1-98eb-7441181b4611","name":"ExecuteStreamCommand","comments":"","position":{"x":1912.0,"y":120.0},"type":"org.apache.nifi.processors.standard.ExecuteStreamCommand","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.18.0.2.1.5.0-215"},"properties":{"argumentsStrategy":"Command Arguments Property","Max Attribute Length":"256","Command Path":"/tmp2/tolowerEscapequotes.py","Working Directory":null,"Output Destination Attribute":null,"Argument Delimiter":";","Ignore STDIN":"false","Command Arguments":null},"propertyDescriptors":{"argumentsStrategy":{"name":"argumentsStrategy","displayName":"Command Arguments Strategy","identifiesControllerService":false,"sensitive":false},"Max Attribute Length":{"name":"Max Attribute Length","displayName":"Max Attribute Length","identifiesControllerService":false,"sensitive":false},"Command Path":{"name":"Command Path","displayName":"Command Path","identifiesControllerService":false,"sensitive":false},"Working Directory":{"name":"Working Directory","displayName":"Working Directory","identifiesControllerService":false,"sensitive":false},"Output Destination Attribute":{"name":"Output Destination Attribute","displayName":"Output Destination Attribute","identifiesControllerService":false,"sensitive":false},"Argument Delimiter":{"name":"Argument Delimiter","displayName":"Argument Delimiter","identifiesControllerService":false,"sensitive":false},"Ignore STDIN":{"name":"Ignore STDIN","displayName":"Ignore STDIN","identifiesControllerService":false,"sensitive":false},"Command Arguments":{"name":"Command Arguments","displayName":"Command Arguments","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"DISABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"54ecd938-8e26-3a2b-988a-f3a216970b9d"},{"identifier":"e2132121-73a4-3784-9a61-e1aea6ea4dd3","instanceIdentifier":"3d663b3c-c9a3-1728-928c-912073f2e625","name":"PutKudu","comments":"","position":{"x":1360.0,"y":840.0},"type":"org.apache.nifi.processors.kudu.PutKudu","bundle":{"group":"org.apache.nifi","artifact":"nifi-kudu-nar","version":"1.18.0.2.1.5.0-215"},"properties":{"Ignore NULL":"false","Table Name":"impala::default.rangerkudu","Handle Schema Drift":"false","kudu-sasl-protocol-name":"kudu","kerberos-principal":null,"Lowercase Field Names":"false","Insert Operation":"upsert","kudu-operations-timeout-ms":"30000ms","Skip head line":"false","FlowFiles per Batch":"1","kerberos-credentials-service":null,"Kudu Masters":"merlin.lurie.biz:7051","Flush Mode":"AUTO_FLUSH_BACKGROUND","Failure Strategy":"route-to-failure","Batch Size":"100","Data RecordPath":null,"kerberos-user-service":null,"record-reader":"4202af10-6ec8-33e3-ac7f-1fe9aff436ef","worker-count":"24","kudu-keep-alive-period-timeout-ms":"15000ms","Operation RecordPath":null},"propertyDescriptors":{"Ignore NULL":{"name":"Ignore NULL","displayName":"Ignore NULL","identifiesControllerService":false,"sensitive":false},"Table Name":{"name":"Table Name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false},"kerberos-password":{"name":"kerberos-password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true},"Handle Schema Drift":{"name":"Handle Schema Drift","displayName":"Handle Schema Drift","identifiesControllerService":false,"sensitive":false},"kudu-sasl-protocol-name":{"name":"kudu-sasl-protocol-name","displayName":"Kudu SASL Protocol Name","identifiesControllerService":false,"sensitive":false},"kerberos-principal":{"name":"kerberos-principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"Lowercase Field Names":{"name":"Lowercase Field Names","displayName":"Lowercase Field Names","identifiesControllerService":false,"sensitive":false},"Insert Operation":{"name":"Insert Operation","displayName":"Kudu Operation Type","identifiesControllerService":false,"sensitive":false},"kudu-operations-timeout-ms":{"name":"kudu-operations-timeout-ms","displayName":"Kudu Operation Timeout","identifiesControllerService":false,"sensitive":false},"Skip head line":{"name":"Skip head line","displayName":"Skip head line","identifiesControllerService":false,"sensitive":false},"FlowFiles per Batch":{"name":"FlowFiles per Batch","displayName":"FlowFiles per Batch","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"Kudu Masters":{"name":"Kudu Masters","displayName":"Kudu Masters","identifiesControllerService":false,"sensitive":false},"Flush Mode":{"name":"Flush Mode","displayName":"Flush Mode","identifiesControllerService":false,"sensitive":false},"Failure Strategy":{"name":"Failure Strategy","displayName":"Failure Strategy","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Max Records per Batch","identifiesControllerService":false,"sensitive":false},"Data RecordPath":{"name":"Data RecordPath","displayName":"Data RecordPath","identifiesControllerService":false,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"worker-count":{"name":"worker-count","displayName":"Kudu Client Worker Count","identifiesControllerService":false,"sensitive":false},"kudu-keep-alive-period-timeout-ms":{"name":"kudu-keep-alive-period-timeout-ms","displayName":"Kudu Keep Alive Period Timeout","identifiesControllerService":false,"sensitive":false},"Operation RecordPath":{"name":"Operation RecordPath","displayName":"Operation RecordPath","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":50,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"54ecd938-8e26-3a2b-988a-f3a216970b9d"},{"identifier":"360c4d14-de3f-3b96-a855-8b136481dc07","instanceIdentifier":"360c4d14-de3f-3b96-ba31-5323ff37ad80","name":"SplitJson","comments":"","position":{"x":448.0,"y":512.0},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.18.0.2.1.5.0-215"},"properties":{"Null Value Representation":"empty string","JsonPath Expression":"$.*"},"propertyDescriptors":{"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"54ecd938-8e26-3a2b-988a-f3a216970b9d"},{"identifier":"785da488-f978-300c-9d14-1c93a401d4c2","instanceIdentifier":"785da488-f978-300c-8439-bba07139b64f","name":"SplitJson","comments":"","position":{"x":-40.0,"y":608.0},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.18.0.2.1.5.0-215"},"properties":{"Null Value Representation":"empty string","JsonPath Expression":"$.*"},"propertyDescriptors":{"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"54ecd938-8e26-3a2b-988a-f3a216970b9d"},{"identifier":"6f302121-03c6-3bad-9466-336137aa3f2c","instanceIdentifier":"6f302121-03c6-3bad-aa8f-515c3f7dcfac","name":"JoltTransformJSON","comments":"","position":{"x":1912.0,"y":472.0},"type":"org.apache.nifi.processors.standard.JoltTransformJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.18.0.2.1.5.0-215"},"properties":{"jolt-spec":"[\n  {\n    \"operation\": \"shift\",\n    \"spec\": {\n      \"vxaccessauditlist\": {\n        \"vxaccessaudits\": {\n          \"*\": \"&\"\n        }\n      }\n    }\n  }\n  ]\n","jolt-transform":"jolt-transform-chain","jolt-custom-class":null,"jolt-custom-modules":null,"pretty_print":"false","Transform Cache Size":"1"},"propertyDescriptors":{"jolt-spec":{"name":"jolt-spec","displayName":"Jolt Specification","identifiesControllerService":false,"sensitive":false},"jolt-transform":{"name":"jolt-transform","displayName":"Jolt Transformation DSL","identifiesControllerService":false,"sensitive":false},"jolt-custom-class":{"name":"jolt-custom-class","displayName":"Custom Transformation Class Name","identifiesControllerService":false,"sensitive":false},"jolt-custom-modules":{"name":"jolt-custom-modules","displayName":"Custom Module Directory","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}},"pretty_print":{"name":"pretty_print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false},"Transform Cache Size":{"name":"Transform Cache Size","displayName":"Transform Cache Size","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"DISABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"54ecd938-8e26-3a2b-988a-f3a216970b9d"},{"identifier":"bed7aafd-5a69-35ca-a5da-2db2f91914bc","instanceIdentifier":"bed7aafd-5a69-35ca-a96e-58557cb3008a","name":"PutKudu","comments":"","position":{"x":448.0,"y":744.0},"type":"org.apache.nifi.processors.kudu.PutKudu","bundle":{"group":"org.apache.nifi","artifact":"nifi-kudu-nar","version":"1.18.0.2.1.5.0-215"},"properties":{"Ignore NULL":"false","Table Name":"impala::default.impalaqueries","Handle Schema Drift":"false","kudu-sasl-protocol-name":"kudu","kerberos-principal":null,"Lowercase Field Names":"false","Insert Operation":"upsert","kudu-operations-timeout-ms":"30000ms","Skip head line":"false","FlowFiles per Batch":"1","kerberos-credentials-service":null,"Kudu Masters":"merlin.lurie.biz:7051","Flush Mode":"AUTO_FLUSH_BACKGROUND","Failure Strategy":"route-to-failure","Batch Size":"100","Data RecordPath":null,"kerberos-user-service":null,"record-reader":"4202af10-6ec8-33e3-ac7f-1fe9aff436ef","worker-count":"24","kudu-keep-alive-period-timeout-ms":"15000ms","Operation RecordPath":null},"propertyDescriptors":{"Ignore NULL":{"name":"Ignore NULL","displayName":"Ignore NULL","identifiesControllerService":false,"sensitive":false},"Table Name":{"name":"Table Name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false},"kerberos-password":{"name":"kerberos-password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true},"Handle Schema Drift":{"name":"Handle Schema Drift","displayName":"Handle Schema Drift","identifiesControllerService":false,"sensitive":false},"kudu-sasl-protocol-name":{"name":"kudu-sasl-protocol-name","displayName":"Kudu SASL Protocol Name","identifiesControllerService":false,"sensitive":false},"kerberos-principal":{"name":"kerberos-principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"Lowercase Field Names":{"name":"Lowercase Field Names","displayName":"Lowercase Field Names","identifiesControllerService":false,"sensitive":false},"Insert Operation":{"name":"Insert Operation","displayName":"Kudu Operation Type","identifiesControllerService":false,"sensitive":false},"kudu-operations-timeout-ms":{"name":"kudu-operations-timeout-ms","displayName":"Kudu Operation Timeout","identifiesControllerService":false,"sensitive":false},"Skip head line":{"name":"Skip head line","displayName":"Skip head line","identifiesControllerService":false,"sensitive":false},"FlowFiles per Batch":{"name":"FlowFiles per Batch","displayName":"FlowFiles per Batch","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"Kudu Masters":{"name":"Kudu Masters","displayName":"Kudu Masters","identifiesControllerService":false,"sensitive":false},"Flush Mode":{"name":"Flush Mode","displayName":"Flush Mode","identifiesControllerService":false,"sensitive":false},"Failure Strategy":{"name":"Failure Strategy","displayName":"Failure Strategy","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Max Records per Batch","identifiesControllerService":false,"sensitive":false},"Data RecordPath":{"name":"Data RecordPath","displayName":"Data RecordPath","identifiesControllerService":false,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"worker-count":{"name":"worker-count","displayName":"Kudu Client Worker Count","identifiesControllerService":false,"sensitive":false},"kudu-keep-alive-period-timeout-ms":{"name":"kudu-keep-alive-period-timeout-ms","displayName":"Kudu Keep Alive Period Timeout","identifiesControllerService":false,"sensitive":false},"Operation RecordPath":{"name":"Operation RecordPath","displayName":"Operation RecordPath","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":50,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"54ecd938-8e26-3a2b-988a-f3a216970b9d"},{"identifier":"636c5ae6-ff36-35ad-870d-941e999d7d01","instanceIdentifier":"cfad3f9d-8f5a-1fde-8d0a-e8d6890f3e98","name":"SplitJson","comments":"","position":{"x":1360.0,"y":680.0},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.18.0.2.1.5.0-215"},"properties":{"Null Value Representation":"empty string","JsonPath Expression":"$.*"},"propertyDescriptors":{"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"54ecd938-8e26-3a2b-988a-f3a216970b9d"},{"identifier":"3777669f-90e3-32af-b3d3-67f0e63777a6","instanceIdentifier":"3777669f-90e3-32af-982c-697ff86fd844","name":"InvokeHTTP_RangerAPI","comments":"","position":{"x":1112.0,"y":48.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.18.0.2.1.5.0-215"},"properties":{"Proxy Host":null,"Attributes to Send":null,"use-etag":"false","proxy-configuration-service":null,"Proxy Type":"http","cookie-strategy":"DISABLED","Connection Timeout":"5 secs","send-message-body":"true","set-form-filename":"true","Always Output Response":"false","etag-max-cache-size":"10MB","Content-Encoding":"DISABLED","disable-http2":"False","idle-timeout":"5 mins","Put Response Body In Attribute":null,"Use Chunked Encoding":"false","Follow Redirects":"True","Remote URL":"http://merlin:6080/service/assets/accessAudit","form-body-form-name":null,"Content-Type":"${mime.type}","flow-file-naming-strategy":"RANDOM","max-idle-connections":"5","invokehttp-proxy-user":null,"Read Timeout":"15 secs","Max Length To Put In Attribute":"256","ignore-response-content":"false","Proxy Port":null,"SSL Context Service":null,"Digest Authentication":"false","HTTP Method":"GET","Add Response Headers to Request":"false","oauth2-access-token-provider":null,"Basic Authentication Username":"admin","Include Date Header":"True","Penalize on \"No Retry\"":"false","Useragent":null},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"Attributes to Send":{"name":"Attributes to Send","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false},"use-etag":{"name":"use-etag","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Proxy Type":{"name":"Proxy Type","displayName":"Proxy Type","identifiesControllerService":false,"sensitive":false},"Basic Authentication Password":{"name":"Basic Authentication Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true},"cookie-strategy":{"name":"cookie-strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Socket Connect Timeout","identifiesControllerService":false,"sensitive":false},"send-message-body":{"name":"send-message-body","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false},"set-form-filename":{"name":"set-form-filename","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false},"Always Output Response":{"name":"Always Output Response","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false},"etag-max-cache-size":{"name":"etag-max-cache-size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false},"Content-Encoding":{"name":"Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false},"disable-http2":{"name":"disable-http2","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false},"idle-timeout":{"name":"idle-timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false},"Follow Redirects":{"name":"Follow Redirects","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false},"Remote URL":{"name":"Remote URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false},"form-body-form-name":{"name":"form-body-form-name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false},"Content-Type":{"name":"Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false},"flow-file-naming-strategy":{"name":"flow-file-naming-strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false},"max-idle-connections":{"name":"max-idle-connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Read Timeout":{"name":"Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"ignore-response-content":{"name":"ignore-response-content","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Digest Authentication":{"name":"Digest Authentication","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false},"Add Response Headers to Request":{"name":"Add Response Headers to Request","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false},"Basic Authentication Username":{"name":"Basic Authentication Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false},"Include Date Header":{"name":"Include Date Header","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\"","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false},"Useragent":{"name":"Useragent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"15 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"PRIMARY","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"54ecd938-8e26-3a2b-988a-f3a216970b9d"},{"identifier":"c4cac3ae-f6d0-390f-9697-192a7493ee6f","instanceIdentifier":"c4cac3ae-f6d0-390f-8c3e-f264e4ade5a7","name":"SplitJson","comments":"","position":{"x":1928.0,"y":640.0},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.18.0.2.1.5.0-215"},"properties":{"Null Value Representation":"empty string","JsonPath Expression":"$.*"},"propertyDescriptors":{"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"DISABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"54ecd938-8e26-3a2b-988a-f3a216970b9d"},{"identifier":"73b1502f-37bb-3c19-b6bd-31751131605d","instanceIdentifier":"73b1502f-37bb-3c19-9c1f-b737b614ced1","name":"PutKudu","comments":"","position":{"x":1944.0,"y":816.0},"type":"org.apache.nifi.processors.kudu.PutKudu","bundle":{"group":"org.apache.nifi","artifact":"nifi-kudu-nar","version":"1.18.0.2.1.5.0-215"},"properties":{"Ignore NULL":"false","Table Name":"impala::default.rangerkudu","Handle Schema Drift":"false","kudu-sasl-protocol-name":"kudu","kerberos-principal":null,"Lowercase Field Names":"false","Insert Operation":"upsert","kudu-operations-timeout-ms":"30000ms","Skip head line":"false","FlowFiles per Batch":"1","kerberos-credentials-service":null,"Kudu Masters":"merlin.lurie.biz:7051","Flush Mode":"AUTO_FLUSH_BACKGROUND","Failure Strategy":"route-to-failure","Batch Size":"100","Data RecordPath":null,"kerberos-user-service":null,"record-reader":"4202af10-6ec8-33e3-ac7f-1fe9aff436ef","worker-count":"24","kudu-keep-alive-period-timeout-ms":"15000ms","Operation RecordPath":null},"propertyDescriptors":{"Ignore NULL":{"name":"Ignore NULL","displayName":"Ignore NULL","identifiesControllerService":false,"sensitive":false},"Table Name":{"name":"Table Name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false},"kerberos-password":{"name":"kerberos-password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true},"Handle Schema Drift":{"name":"Handle Schema Drift","displayName":"Handle Schema Drift","identifiesControllerService":false,"sensitive":false},"kudu-sasl-protocol-name":{"name":"kudu-sasl-protocol-name","displayName":"Kudu SASL Protocol Name","identifiesControllerService":false,"sensitive":false},"kerberos-principal":{"name":"kerberos-principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"Lowercase Field Names":{"name":"Lowercase Field Names","displayName":"Lowercase Field Names","identifiesControllerService":false,"sensitive":false},"Insert Operation":{"name":"Insert Operation","displayName":"Kudu Operation Type","identifiesControllerService":false,"sensitive":false},"kudu-operations-timeout-ms":{"name":"kudu-operations-timeout-ms","displayName":"Kudu Operation Timeout","identifiesControllerService":false,"sensitive":false},"Skip head line":{"name":"Skip head line","displayName":"Skip head line","identifiesControllerService":false,"sensitive":false},"FlowFiles per Batch":{"name":"FlowFiles per Batch","displayName":"FlowFiles per Batch","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"Kudu Masters":{"name":"Kudu Masters","displayName":"Kudu Masters","identifiesControllerService":false,"sensitive":false},"Flush Mode":{"name":"Flush Mode","displayName":"Flush Mode","identifiesControllerService":false,"sensitive":false},"Failure Strategy":{"name":"Failure Strategy","displayName":"Failure Strategy","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Max Records per Batch","identifiesControllerService":false,"sensitive":false},"Data RecordPath":{"name":"Data RecordPath","displayName":"Data RecordPath","identifiesControllerService":false,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"worker-count":{"name":"worker-count","displayName":"Kudu Client Worker Count","identifiesControllerService":false,"sensitive":false},"kudu-keep-alive-period-timeout-ms":{"name":"kudu-keep-alive-period-timeout-ms","displayName":"Kudu Keep Alive Period Timeout","identifiesControllerService":false,"sensitive":false},"Operation RecordPath":{"name":"Operation RecordPath","displayName":"Operation RecordPath","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":50,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"DISABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"54ecd938-8e26-3a2b-988a-f3a216970b9d"},{"identifier":"85e37634-899c-3925-b905-e46b344e1ce9","instanceIdentifier":"85e37634-899c-3925-8d62-4861c9a43708","name":"InvokeHTTP_CMrestAPI_impalaQueries","comments":"","position":{"x":400.0,"y":48.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.18.0.2.1.5.0-215"},"properties":{"Proxy Host":null,"Attributes to Send":null,"use-etag":"false","proxy-configuration-service":null,"Proxy Type":"http","cookie-strategy":"DISABLED","Connection Timeout":"5 secs","send-message-body":"true","set-form-filename":"true","Always Output Response":"false","etag-max-cache-size":"10MB","Content-Encoding":"DISABLED","disable-http2":"False","idle-timeout":"5 mins","Put Response Body In Attribute":null,"Use Chunked Encoding":"false","Follow Redirects":"True","Remote URL":"http://localhost:7180/api/v30/clusters/merlin1node/services/impala/impalaQueries?from=2021-12-19T00%3A00%3A00.000Z&to=NOW","form-body-form-name":null,"Content-Type":"${mime.type}","flow-file-naming-strategy":"RANDOM","max-idle-connections":"5","invokehttp-proxy-user":null,"Read Timeout":"15 secs","Max Length To Put In Attribute":"256","ignore-response-content":"false","Proxy Port":null,"SSL Context Service":null,"Digest Authentication":"false","HTTP Method":"GET","Add Response Headers to Request":"false","oauth2-access-token-provider":null,"Basic Authentication Username":"admin","Include Date Header":"True","Penalize on \"No Retry\"":"false","Useragent":null},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"Attributes to Send":{"name":"Attributes to Send","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false},"use-etag":{"name":"use-etag","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Proxy Type":{"name":"Proxy Type","displayName":"Proxy Type","identifiesControllerService":false,"sensitive":false},"Basic Authentication Password":{"name":"Basic Authentication Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true},"cookie-strategy":{"name":"cookie-strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Socket Connect Timeout","identifiesControllerService":false,"sensitive":false},"send-message-body":{"name":"send-message-body","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false},"set-form-filename":{"name":"set-form-filename","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false},"Always Output Response":{"name":"Always Output Response","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false},"etag-max-cache-size":{"name":"etag-max-cache-size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false},"Content-Encoding":{"name":"Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false},"disable-http2":{"name":"disable-http2","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false},"idle-timeout":{"name":"idle-timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false},"Follow Redirects":{"name":"Follow Redirects","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false},"Remote URL":{"name":"Remote URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false},"form-body-form-name":{"name":"form-body-form-name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false},"Content-Type":{"name":"Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false},"flow-file-naming-strategy":{"name":"flow-file-naming-strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false},"max-idle-connections":{"name":"max-idle-connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Read Timeout":{"name":"Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"ignore-response-content":{"name":"ignore-response-content","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Digest Authentication":{"name":"Digest Authentication","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false},"Add Response Headers to Request":{"name":"Add Response Headers to Request","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false},"Basic Authentication Username":{"name":"Basic Authentication Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false},"Include Date Header":{"name":"Include Date Header","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\"","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false},"Useragent":{"name":"Useragent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"15 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"PRIMARY","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["No Retry","Retry","Original","Failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"54ecd938-8e26-3a2b-988a-f3a216970b9d"},{"identifier":"d0ce14e6-429d-31d4-9621-aea2feb421df","instanceIdentifier":"f25ac00b-018b-1000-ffff-ffff97571546","name":"ExecuteStreamCommand2lowerCase","comments":"","position":{"x":1336.0,"y":480.0},"type":"org.apache.nifi.processors.standard.ExecuteStreamCommand","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.18.0.2.1.5.0-215"},"properties":{"argumentsStrategy":"Command Arguments Property","Max Attribute Length":"256","Command Path":"/tmp2/tolower.py","Working Directory":null,"Output Destination Attribute":null,"Argument Delimiter":";","Ignore STDIN":"false","Command Arguments":null},"propertyDescriptors":{"argumentsStrategy":{"name":"argumentsStrategy","displayName":"Command Arguments Strategy","identifiesControllerService":false,"sensitive":false},"Max Attribute Length":{"name":"Max Attribute Length","displayName":"Max Attribute Length","identifiesControllerService":false,"sensitive":false},"Command Path":{"name":"Command Path","displayName":"Command Path","identifiesControllerService":false,"sensitive":false},"Working Directory":{"name":"Working Directory","displayName":"Working Directory","identifiesControllerService":false,"sensitive":false},"Output Destination Attribute":{"name":"Output Destination Attribute","displayName":"Output Destination Attribute","identifiesControllerService":false,"sensitive":false},"Argument Delimiter":{"name":"Argument Delimiter","displayName":"Argument Delimiter","identifiesControllerService":false,"sensitive":false},"Ignore STDIN":{"name":"Ignore STDIN","displayName":"Ignore STDIN","identifiesControllerService":false,"sensitive":false},"Command Arguments":{"name":"Command Arguments","displayName":"Command Arguments","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"54ecd938-8e26-3a2b-988a-f3a216970b9d"},{"identifier":"3028625b-4cff-3aae-aa0a-95e086843efe","instanceIdentifier":"2922369c-01bd-1eaf-a1e9-73973da22ec9","name":"InvokeHTTP_CMrestAPI_impalaQueries","comments":"","position":{"x":536.0,"y":1016.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.18.0.2.1.5.0-215"},"properties":{"Proxy Host":null,"Attributes to Send":null,"use-etag":"false","proxy-configuration-service":null,"Proxy Type":"http","cookie-strategy":"DISABLED","Connection Timeout":"5 secs","send-message-body":"true","set-form-filename":"true","Always Output Response":"false","etag-max-cache-size":"10MB","Content-Encoding":"DISABLED","disable-http2":"False","idle-timeout":"5 mins","Put Response Body In Attribute":null,"Use Chunked Encoding":"false","Follow Redirects":"True","Remote URL":"http://localhost:7180/api/v30/clusters/merlin1node/services/impala/impalaQueries/c242299e3b8dfefa:151ab9f500000000","form-body-form-name":null,"Content-Type":"${mime.type}","flow-file-naming-strategy":"RANDOM","max-idle-connections":"5","invokehttp-proxy-user":null,"Read Timeout":"15 secs","Max Length To Put In Attribute":"256","ignore-response-content":"false","Proxy Port":null,"SSL Context Service":null,"Digest Authentication":"false","HTTP Method":"GET","Add Response Headers to Request":"false","oauth2-access-token-provider":null,"Basic Authentication Username":"admin","Include Date Header":"True","Penalize on \"No Retry\"":"false","Useragent":null},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"Attributes to Send":{"name":"Attributes to Send","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false},"use-etag":{"name":"use-etag","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Proxy Type":{"name":"Proxy Type","displayName":"Proxy Type","identifiesControllerService":false,"sensitive":false},"Basic Authentication Password":{"name":"Basic Authentication Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true},"cookie-strategy":{"name":"cookie-strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Socket Connect Timeout","identifiesControllerService":false,"sensitive":false},"send-message-body":{"name":"send-message-body","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false},"set-form-filename":{"name":"set-form-filename","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false},"Always Output Response":{"name":"Always Output Response","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false},"etag-max-cache-size":{"name":"etag-max-cache-size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false},"Content-Encoding":{"name":"Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false},"disable-http2":{"name":"disable-http2","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false},"idle-timeout":{"name":"idle-timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false},"Follow Redirects":{"name":"Follow Redirects","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false},"Remote URL":{"name":"Remote URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false},"form-body-form-name":{"name":"form-body-form-name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false},"Content-Type":{"name":"Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false},"flow-file-naming-strategy":{"name":"flow-file-naming-strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false},"max-idle-connections":{"name":"max-idle-connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Read Timeout":{"name":"Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"ignore-response-content":{"name":"ignore-response-content","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Digest Authentication":{"name":"Digest Authentication","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false},"Add Response Headers to Request":{"name":"Add Response Headers to Request","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false},"Basic Authentication Username":{"name":"Basic Authentication Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false},"Include Date Header":{"name":"Include Date Header","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\"","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false},"Useragent":{"name":"Useragent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"15 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"PRIMARY","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"DISABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"54ecd938-8e26-3a2b-988a-f3a216970b9d"},{"identifier":"a767574e-2ce0-351a-84c7-18c3d020921e","instanceIdentifier":"a767574e-2ce0-351a-b44a-b188181b17f7","name":"QueryClouderaManagerAPIInvokeHTTP","comments":"","position":{"x":-40.0,"y":32.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.18.0.2.1.5.0-215"},"properties":{"Proxy Host":null,"Attributes to Send":null,"use-etag":"false","proxy-configuration-service":null,"Proxy Type":"http","cookie-strategy":"DISABLED","Connection Timeout":"5 secs","send-message-body":"true","set-form-filename":"true","Always Output Response":"false","etag-max-cache-size":"10MB","Content-Encoding":"DISABLED","disable-http2":"False","idle-timeout":"5 mins","Put Response Body In Attribute":null,"Use Chunked Encoding":"false","Follow Redirects":"True","Remote URL":"http://localhost:7180/api/v30/clusters/merlin1node/services/yarn/yarnApplications/?from=2021-9-29T00%3A00%3A00.000Z&to=NOW","form-body-form-name":null,"Content-Type":"${mime.type}","flow-file-naming-strategy":"RANDOM","max-idle-connections":"5","invokehttp-proxy-user":null,"Read Timeout":"15 secs","Max Length To Put In Attribute":"256","ignore-response-content":"false","Proxy Port":null,"SSL Context Service":null,"Digest Authentication":"false","HTTP Method":"GET","Add Response Headers to Request":"false","oauth2-access-token-provider":null,"Basic Authentication Username":"admin","Include Date Header":"True","Penalize on \"No Retry\"":"false","Useragent":null},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"Attributes to Send":{"name":"Attributes to Send","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false},"use-etag":{"name":"use-etag","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Proxy Type":{"name":"Proxy Type","displayName":"Proxy Type","identifiesControllerService":false,"sensitive":false},"Basic Authentication Password":{"name":"Basic Authentication Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true},"cookie-strategy":{"name":"cookie-strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Socket Connect Timeout","identifiesControllerService":false,"sensitive":false},"send-message-body":{"name":"send-message-body","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false},"set-form-filename":{"name":"set-form-filename","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false},"Always Output Response":{"name":"Always Output Response","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false},"etag-max-cache-size":{"name":"etag-max-cache-size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false},"Content-Encoding":{"name":"Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false},"disable-http2":{"name":"disable-http2","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false},"idle-timeout":{"name":"idle-timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false},"Follow Redirects":{"name":"Follow Redirects","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false},"Remote URL":{"name":"Remote URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false},"form-body-form-name":{"name":"form-body-form-name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false},"Content-Type":{"name":"Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false},"flow-file-naming-strategy":{"name":"flow-file-naming-strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false},"max-idle-connections":{"name":"max-idle-connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Read Timeout":{"name":"Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"ignore-response-content":{"name":"ignore-response-content","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Digest Authentication":{"name":"Digest Authentication","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false},"Add Response Headers to Request":{"name":"Add Response Headers to Request","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false},"Basic Authentication Username":{"name":"Basic Authentication Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false},"Include Date Header":{"name":"Include Date Header","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\"","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false},"Useragent":{"name":"Useragent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"15 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"PRIMARY","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"54ecd938-8e26-3a2b-988a-f3a216970b9d"},{"identifier":"a1381cb9-976f-3e9e-913c-84534ecbdb55","instanceIdentifier":"a1381cb9-976f-3e9e-9230-1abe7bead47a","name":"InvokeHTTP","comments":"","position":{"x":-1376.0,"y":520.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.18.0.2.1.5.0-215"},"properties":{"Proxy Host":null,"Attributes to Send":null,"use-etag":"false","proxy-configuration-service":null,"Proxy Type":"http","cookie-strategy":"DISABLED","Connection Timeout":"5 secs","send-message-body":"true","set-form-filename":"true","Always Output Response":"false","etag-max-cache-size":"10MB","Content-Encoding":"DISABLED","disable-http2":"False","idle-timeout":"5 mins","Put Response Body In Attribute":null,"Use Chunked Encoding":"false","Follow Redirects":"True","Remote URL":"https://martycmapitest-gateway.se-sandb.a465-9q4k.cloudera.site/martycmapitest/cdp-proxy-api/cm-api/v30/clusters/martycmapitest/services/yarn/yarnApplications","form-body-form-name":null,"Content-Type":"${mime.type}","flow-file-naming-strategy":"RANDOM","max-idle-connections":"5","invokehttp-proxy-user":null,"Read Timeout":"15 secs","Max Length To Put In Attribute":"256","ignore-response-content":"false","Proxy Port":null,"SSL Context Service":null,"Digest Authentication":"false","HTTP Method":"GET","Add Response Headers to Request":"false","oauth2-access-token-provider":null,"Basic Authentication Username":"marty","Include Date Header":"True","Penalize on \"No Retry\"":"false","Useragent":null},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"Attributes to Send":{"name":"Attributes to Send","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false},"use-etag":{"name":"use-etag","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Proxy Type":{"name":"Proxy Type","displayName":"Proxy Type","identifiesControllerService":false,"sensitive":false},"Basic Authentication Password":{"name":"Basic Authentication Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true},"cookie-strategy":{"name":"cookie-strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Socket Connect Timeout","identifiesControllerService":false,"sensitive":false},"send-message-body":{"name":"send-message-body","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false},"set-form-filename":{"name":"set-form-filename","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false},"Always Output Response":{"name":"Always Output Response","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false},"etag-max-cache-size":{"name":"etag-max-cache-size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false},"Content-Encoding":{"name":"Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false},"disable-http2":{"name":"disable-http2","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false},"idle-timeout":{"name":"idle-timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false},"Follow Redirects":{"name":"Follow Redirects","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false},"Remote URL":{"name":"Remote URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false},"form-body-form-name":{"name":"form-body-form-name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false},"Content-Type":{"name":"Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false},"flow-file-naming-strategy":{"name":"flow-file-naming-strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false},"max-idle-connections":{"name":"max-idle-connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Read Timeout":{"name":"Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"ignore-response-content":{"name":"ignore-response-content","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Digest Authentication":{"name":"Digest Authentication","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false},"Add Response Headers to Request":{"name":"Add Response Headers to Request","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false},"Basic Authentication Username":{"name":"Basic Authentication Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false},"Include Date Header":{"name":"Include Date Header","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\"","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false},"Useragent":{"name":"Useragent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"15 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"PRIMARY","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"DISABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"54ecd938-8e26-3a2b-988a-f3a216970b9d"},{"identifier":"4d60033e-6726-3f8c-b961-6a3874bb6e61","instanceIdentifier":"4d60033e-6726-3f8c-bb99-a51d65edc8fd","name":"JoltTransformJSON","comments":"New, with tolower transform\n\n[\n  {\n    \"operation\": \"shift\",\n    \"spec\": {\n      \"country\": \"country\",\n      \"applications\": {\n        \"*\": { // state array index\n          \"applicationId\": \"applications[&1].applicationId\",\n          \"attributes\": \"applications[&1].attributes\",\n          \"attributes.diagnostics\": \"applications[&1].attributes\",\n          \"mr2AppInformation\": \"applications[&1].mr2AppInformation\",\n          \"name\": \"applications[&1].name\",\n          \"startTime\": \"applications[&1].startTime\",\n          \"user\": \"applications[&1].user\",\n          \"pool\": \"applications[&1].pool\",\n          \"state\": \"applications[&1].state\",\n          \"progress\": \"applications[&1].progress\",\n          \"applicationTags\": \"applications[&1].applicationTags\",\n          \"allocatedMemorySeconds\": \"applications[&1].allocatedMemorySeconds\",\n          \"allocatedVcoreSeconds\": \"applications[&1].allocatedVcoreSeconds\",\n          \"allocatedMB\": \"applications[&1].allocatedMB\",\n          \"allocatedVCores\": \"applications[&1].allocatedVCores\",\n          \"runningContainers\": \"applications[&1].runningContainers\"\n        }\n      }\n    }\n  },{\n    // unwrap the keys and values into literal\n    // \"key\" : \"A\", \"value\" : \"b\"\n    \"operation\": \"shift\",\n    \"spec\": {\n      \"*\": {\n        \"$\": \"&1.key\",\n        \"@\": \"&1.value\"\n      },\n      //do the same for everything in aliases\n      //&3 = applications\n      //&2 = array position\n      //&1 = position of kvp\n      \"applications\": {\n        \"*\": {\n          \"*\": {\n            \"$\": \"&3.&2.&1.key\",\n            \"@\": \"&3.&2.&1.value\"\n          }\n        }\n      }\n    }\n  },\n  {\n    \"operation\": \"modify-overwrite-beta\",\n    \"spec\": {\n      \"*\": {\n        // Now that the origional key\n        //  is on the \"right hand side\"\n        //  lowercase it\n        \"key\": \"=toLower\"\n      },\n      \"applications\": {\n        \"*\": {\n          \"*\": {\n            // Now that the origional key\n            //  is on the \"right hand side\"\n            //  lowercase it\n            \"key\": \"=toLower\"\n          }\n        }\n      }\n    }\n  },\n  {\n    // pivot back, the now lowercased keys\n    \"operation\": \"shift\",\n    \"spec\": {\n      \"*\": {\n        \"value\": \"@(1,key)\"\n      },\n      \"applications\": {\n        \"*\": {\n          \"*\": {\n            //&3 = applications\n            //&2 = array postion\n            //@(1,key) values from \"key\"\n            \"value\": \"&3.[&2].@(1,key)\"\n          }\n        }\n      }\n    }\n  }\n]\n\n\nOLD, without the to lower\n\n[\n  {\n    \"operation\": \"shift\",\n    \"spec\": {\n      \"country\": \"country\",\n      \"applications\": {\n        \"*\": { // state array index\n          \"applicationId\": \"applications[&1].applicationId\",\n          \"attributes\": \"applications[&1].attributes\",\n          \"attributes.diagnostics\": \"applications[&1].attributes\",\n          \"mr2AppInformation\": \"applications[&1].mr2AppInformation\",\n          \"name\": \"applications[&1].name\",\n          \"startTime\": \"applications[&1].startTime\",\n          \"user\": \"applications[&1].user\",\n          \"pool\": \"applications[&1].pool\",\n          \"state\": \"applications[&1].state\",\n          \"progress\": \"applications[&1].progress\",\n          \"applicationTags\": \"applications[&1].applicationTags\",\n          \"allocatedMemorySeconds\": \"applications[&1].allocatedMemorySeconds\",\n          \"allocatedVcoreSeconds\": \"applications[&1].allocatedVcoreSeconds\",\n          \"allocatedMB\": \"applications[&1].allocatedMB\",\n          \"allocatedVCores\": \"applications[&1].allocatedVCores\",\n          \"runningContainers\": \"applications[&1].runningContainers\"\n        }\n      }\n    }\n  }\n]\n","position":{"x":-40.0,"y":232.0},"type":"org.apache.nifi.processors.standard.JoltTransformJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.18.0.2.1.5.0-215"},"properties":{"jolt-spec":"[\n  {\n    \"operation\": \"shift\",\n    \"spec\": {\n      \"country\": \"country\",\n      \"applications\": {\n        \"*\": { // state array index\n          \"applicationId\": \"applications[&1].applicationId\",\n          \"attributes\": \"applications[&1].attributes\",\n          \"attributes.diagnostics\": \"applications[&1].attributes\",\n          \"mr2AppInformation\": \"applications[&1].mr2AppInformation\",\n          \"name\": \"applications[&1].name\",\n          \"startTime\": \"applications[&1].startTime\",\n          \"user\": \"applications[&1].user\",\n          \"pool\": \"applications[&1].pool\",\n          \"state\": \"applications[&1].state\",\n          \"progress\": \"applications[&1].progress\",\n          \"applicationTags\": \"applications[&1].applicationTags\",\n          \"allocatedMemorySeconds\": \"applications[&1].allocatedMemorySeconds\",\n          \"allocatedVcoreSeconds\": \"applications[&1].allocatedVcoreSeconds\",\n          \"allocatedMB\": \"applications[&1].allocatedMB\",\n          \"allocatedVCores\": \"applications[&1].allocatedVCores\",\n          \"runningContainers\": \"applications[&1].runningContainers\"\n        }\n      }\n    }\n  },{\n    // unwrap the keys and values into literal\n    // \"key\" : \"A\", \"value\" : \"b\"\n    \"operation\": \"shift\",\n    \"spec\": {\n      \"*\": {\n        \"$\": \"&1.key\",\n        \"@\": \"&1.value\"\n      },\n      //do the same for everything in aliases\n      //&3 = applications\n      //&2 = array position\n      //&1 = position of kvp\n      \"applications\": {\n        \"*\": {\n          \"*\": {\n            \"$\": \"&3.&2.&1.key\",\n            \"@\": \"&3.&2.&1.value\"\n          }\n        }\n      }\n    }\n  },\n  {\n    \"operation\": \"modify-overwrite-beta\",\n    \"spec\": {\n      \"*\": {\n        // Now that the origional key\n        //  is on the \"right hand side\"\n        //  lowercase it\n        \"key\": \"=toLower\"\n      },\n      \"applications\": {\n        \"*\": {\n          \"*\": {\n            // Now that the origional key\n            //  is on the \"right hand side\"\n            //  lowercase it\n            \"key\": \"=toLower\"\n          }\n        }\n      }\n    }\n  },\n  {\n    // pivot back, the now lowercased keys\n    \"operation\": \"shift\",\n    \"spec\": {\n      \"*\": {\n        \"value\": \"@(1,key)\"\n      },\n      \"applications\": {\n        \"*\": {\n          \"*\": {\n            //&3 = applications\n            //&2 = array postion\n            //@(1,key) values from \"key\"\n            \"value\": \"&3.[&2].@(1,key)\"\n          }\n        }\n      }\n    }\n  }\n]","jolt-transform":"jolt-transform-chain","jolt-custom-class":null,"jolt-custom-modules":null,"pretty_print":"false","Transform Cache Size":"1"},"propertyDescriptors":{"jolt-spec":{"name":"jolt-spec","displayName":"Jolt Specification","identifiesControllerService":false,"sensitive":false},"jolt-transform":{"name":"jolt-transform","displayName":"Jolt Transformation DSL","identifiesControllerService":false,"sensitive":false},"jolt-custom-class":{"name":"jolt-custom-class","displayName":"Custom Transformation Class Name","identifiesControllerService":false,"sensitive":false},"jolt-custom-modules":{"name":"jolt-custom-modules","displayName":"Custom Module Directory","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}},"pretty_print":{"name":"pretty_print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false},"Transform Cache Size":{"name":"Transform Cache Size","displayName":"Transform Cache Size","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"54ecd938-8e26-3a2b-988a-f3a216970b9d"},{"identifier":"2d63e707-d6ad-3e7d-9d15-d974732a952a","instanceIdentifier":"2d63e707-d6ad-3e7d-8fc3-969a5077c6bb","name":"JoltTransformJSON","comments":"","position":{"x":448.0,"y":272.0},"type":"org.apache.nifi.processors.standard.JoltTransformJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.18.0.2.1.5.0-215"},"properties":{"jolt-spec":"[\n  {\n    \"operation\": \"shift\",\n    \"spec\": {\n      \"queries\": {\n        \"*\": {\n          // shift all values 1 level up to queries\n          \"*\": \"queries[&1].&\",\n          \"attributes\": {\n            // shift all values 2 level up to queries\n            \"*\": \"queries[&2].&\"\n          },\n          \"coordinator\": {\n            // shift two levels up to queries\n            // prepepend with one level up and \"_\"\n            \"*\": \"queries[&2].&1_&\"\n          }\n        }\n      }\n    }\n          },\n  {\n    // unwrap the keys and values into literal\n    // \"key\" : \"A\", \"value\" : \"b\"\n    \"operation\": \"shift\",\n    \"spec\": {\n      \"*\": {\n        \"$\": \"&1.key\",\n        \"@\": \"&1.value\"\n      },\n      //do the same for everything in queries\n      //&3 = queries\n      //&2 = array position\n      //&1 = position of kvp\n      \"queries\": {\n        \"*\": {\n          \"*\": {\n            \"$\": \"&3.&2.&1.key\",\n            \"@\": \"&3.&2.&1.value\"\n          }\n        }\n      }\n    }\n  },\n  {\n    \"operation\": \"modify-overwrite-beta\",\n    \"spec\": {\n      \"*\": {\n        // Now that the origional key\n        //  is on the \"right hand side\"\n        //  lowercase it\n        \"key\": \"=toLower\"\n      },\n      \"queries\": {\n        \"*\": {\n          \"*\": {\n            // Now that the origional key\n            //  is on the \"right hand side\"\n            //  lowercase it\n            \"key\": \"=toLower\"\n          }\n        }\n      }\n    }\n  },\n  {\n    // pivot back, the now lowercased keys\n    \"operation\": \"shift\",\n    \"spec\": {\n      \"*\": {\n        \"value\": \"@(1,key)\"\n      },\n      \"queries\": {\n        \"*\": {\n          \"*\": {\n            //&3 = queries\n            //&2 = array postion\n            //@(1,key) values from \"key\"\n            \"value\": \"&3.[&2].@(1,key)\"\n          }\n        }\n      }\n    }\n  },\n  {\n    \"operation\": \"shift\",\n    \"spec\": {\n      \"queries\": {\n        \"*\": {\n          \"queryid\": \"queries[&1].queryid\",           \n          \"rowsproduced\": \"queries[&1].rowsproduced\",\n          \"client_fetch_wait_time\": \"queries[&1].client_fetch_wait_time\",\n          \"file_formats\": \"queries[&1].file_formats\",\n          \"query_status\": \"queries[&1].query_status\",\n          \"admission_result\": \"queries[&1].admission_result\",\n          \"session_id\": \"queries[&1].session_id\",\n          \"stats_corrupt\": \"queries[&1].stats_corrupt\",\n          \"oom\": \"queries[&1].oom\",\n          \"ddl_type\": \"queries[&1].ddl_type\",\n          \"planning_wait_time_percentage\": \"queries[&1].planning_wait_time_percentage\",\n          \"connected_user\": \"queries[&1].connected_user\",\n          \"impala_version\": \"queries[&1].impala_version\",\n          \"stats_missing\": \"queries[&1].stats_missing\",\n          \"planning_wait_time\": \"queries[&1].planning_wait_time\",\n          \"client_fetch_wait_time_percentage\": \"queries[&1].client_fetch_wait_time_percentage\",\n          \"network_address\": \"queries[&1].network_address\",\n          \"session_type\": \"queries[&1].session_type\",\n          \"user\": \"queries[&1].userid\",\n          \"coordinator_hostid\": \"queries[&1].coordinator_hostid\",\n          \"detailsavailable\": \"queries[&1].detailsavailable\",\n          \"database\": \"queries[&1].databaseused\",\n          \"durationmillis\": \"queries[&1].durationmillis\",\n          \"statement\": \"queries[&1].statement\",\n          \"querytype\": \"queries[&1].querytype\",\n          \"querystate\": \"queries[&1].querystate\",\n          \"starttime\": \"queries[&1].starttime\",\n          \"endtime\": \"queries[&1].endtime\",\n          \"memory_per_node_peak_node\":\"queries[&1].memory_per_node_peak_node\",\n          \"memory_per_node_peak\":\"queries[&1].memory_per_node_peak\",\n          \"thread_total_time\":\"queries[&1].thread_total_time\",\n          \"thread_cpu_time\":\"queries[&1].thread_cpu_time\"\n        }\n      }\n    }\n  }\n]\n","jolt-transform":"jolt-transform-chain","jolt-custom-class":null,"jolt-custom-modules":null,"pretty_print":"false","Transform Cache Size":"1"},"propertyDescriptors":{"jolt-spec":{"name":"jolt-spec","displayName":"Jolt Specification","identifiesControllerService":false,"sensitive":false},"jolt-transform":{"name":"jolt-transform","displayName":"Jolt Transformation DSL","identifiesControllerService":false,"sensitive":false},"jolt-custom-class":{"name":"jolt-custom-class","displayName":"Custom Transformation Class Name","identifiesControllerService":false,"sensitive":false},"jolt-custom-modules":{"name":"jolt-custom-modules","displayName":"Custom Module Directory","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}},"pretty_print":{"name":"pretty_print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false},"Transform Cache Size":{"name":"Transform Cache Size","displayName":"Transform Cache Size","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"54ecd938-8e26-3a2b-988a-f3a216970b9d"},{"identifier":"ef3c6779-fe51-35d0-9589-679a75840d72","instanceIdentifier":"ef3c6779-fe51-35d0-bb6c-568b9dae96fa","name":"PutKudu","comments":"","position":{"x":-40.0,"y":808.0},"type":"org.apache.nifi.processors.kudu.PutKudu","bundle":{"group":"org.apache.nifi","artifact":"nifi-kudu-nar","version":"1.18.0.2.1.5.0-215"},"properties":{"Ignore NULL":"false","Table Name":"impala::default.yarnjobs","Handle Schema Drift":"false","kudu-sasl-protocol-name":"kudu","kerberos-principal":null,"Lowercase Field Names":"false","Insert Operation":"upsert","kudu-operations-timeout-ms":"30000ms","Skip head line":"false","FlowFiles per Batch":"1","kerberos-credentials-service":null,"Kudu Masters":"merlin.lurie.biz:7051","Flush Mode":"AUTO_FLUSH_BACKGROUND","Failure Strategy":"route-to-failure","Batch Size":"100","Data RecordPath":null,"kerberos-user-service":null,"record-reader":"4202af10-6ec8-33e3-ac7f-1fe9aff436ef","worker-count":"24","kudu-keep-alive-period-timeout-ms":"15000ms","Operation RecordPath":null},"propertyDescriptors":{"Ignore NULL":{"name":"Ignore NULL","displayName":"Ignore NULL","identifiesControllerService":false,"sensitive":false},"Table Name":{"name":"Table Name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false},"kerberos-password":{"name":"kerberos-password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true},"Handle Schema Drift":{"name":"Handle Schema Drift","displayName":"Handle Schema Drift","identifiesControllerService":false,"sensitive":false},"kudu-sasl-protocol-name":{"name":"kudu-sasl-protocol-name","displayName":"Kudu SASL Protocol Name","identifiesControllerService":false,"sensitive":false},"kerberos-principal":{"name":"kerberos-principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"Lowercase Field Names":{"name":"Lowercase Field Names","displayName":"Lowercase Field Names","identifiesControllerService":false,"sensitive":false},"Insert Operation":{"name":"Insert Operation","displayName":"Kudu Operation Type","identifiesControllerService":false,"sensitive":false},"kudu-operations-timeout-ms":{"name":"kudu-operations-timeout-ms","displayName":"Kudu Operation Timeout","identifiesControllerService":false,"sensitive":false},"Skip head line":{"name":"Skip head line","displayName":"Skip head line","identifiesControllerService":false,"sensitive":false},"FlowFiles per Batch":{"name":"FlowFiles per Batch","displayName":"FlowFiles per Batch","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"Kudu Masters":{"name":"Kudu Masters","displayName":"Kudu Masters","identifiesControllerService":false,"sensitive":false},"Flush Mode":{"name":"Flush Mode","displayName":"Flush Mode","identifiesControllerService":false,"sensitive":false},"Failure Strategy":{"name":"Failure Strategy","displayName":"Failure Strategy","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Max Records per Batch","identifiesControllerService":false,"sensitive":false},"Data RecordPath":{"name":"Data RecordPath","displayName":"Data RecordPath","identifiesControllerService":false,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"worker-count":{"name":"worker-count","displayName":"Kudu Client Worker Count","identifiesControllerService":false,"sensitive":false},"kudu-keep-alive-period-timeout-ms":{"name":"kudu-keep-alive-period-timeout-ms","displayName":"Kudu Keep Alive Period Timeout","identifiesControllerService":false,"sensitive":false},"Operation RecordPath":{"name":"Operation RecordPath","displayName":"Operation RecordPath","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":50,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"54ecd938-8e26-3a2b-988a-f3a216970b9d"},{"identifier":"1f7fe0b6-53f1-3d51-8f7a-f8828011ab23","instanceIdentifier":"f7e86432-0181-1000-ffff-ffffc0c3add8","name":"PublishKafkaRecord_2_6 to yarnjobs topic","comments":"","position":{"x":-656.0,"y":808.0},"type":"org.apache.nifi.processors.kafka.pubsub.PublishKafkaRecord_2_6","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-2-6-nar","version":"1.18.0.2.1.5.0-215"},"properties":{"compression.type":"none","attribute-name-regex":null,"record-writer":"158f0cd1-5eb9-304e-b3fe-8b855e5f69c7","bootstrap.servers":"merlin:9092","sasl.kerberos.principal":null,"sasl.kerberos.service.name":null,"kerberos-credentials-service":null,"partition":null,"record-key-writer":null,"sasl.mechanism":"GSSAPI","max.block.ms":"5 sec","record-reader":"4202af10-6ec8-33e3-ac7f-1fe9aff436ef","message-header-encoding":"UTF-8","kerberos-user-service":null,"transactional-id-prefix":null,"ack.wait.time":"5 secs","sasl.username":null,"use-transactions":"false","acks":"0","Record Metadata Strategy":"Use Configured Values","security.protocol":"PLAINTEXT","ssl.context.service":null,"max.request.size":"1 MB","sasl.token.auth":"false","message-key-field":null,"Failure Strategy":"Route to Failure","partitioner.class":"org.apache.kafka.clients.producer.internals.DefaultPartitioner","sasl.kerberos.keytab":null,"topic":"yarnjobs","publish-strategy":"USE_VALUE"},"propertyDescriptors":{"compression.type":{"name":"compression.type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false},"attribute-name-regex":{"name":"attribute-name-regex","displayName":"Attributes to Send as Headers (Regex)","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Kafka Brokers","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.principal":{"name":"sasl.kerberos.principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"partition":{"name":"partition","displayName":"Partition","identifiesControllerService":false,"sensitive":false},"record-key-writer":{"name":"record-key-writer","displayName":"Record Key Writer","identifiesControllerService":true,"sensitive":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false},"max.block.ms":{"name":"max.block.ms","displayName":"Max Metadata Wait Time","identifiesControllerService":false,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"message-header-encoding":{"name":"message-header-encoding","displayName":"Message Header Encoding","identifiesControllerService":false,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"transactional-id-prefix":{"name":"transactional-id-prefix","displayName":"Transactional Id Prefix","identifiesControllerService":false,"sensitive":false},"ack.wait.time":{"name":"ack.wait.time","displayName":"Acknowledgment Wait Time","identifiesControllerService":false,"sensitive":false},"sasl.username":{"name":"sasl.username","displayName":"Username","identifiesControllerService":false,"sensitive":false},"use-transactions":{"name":"use-transactions","displayName":"Use Transactions","identifiesControllerService":false,"sensitive":false},"acks":{"name":"acks","displayName":"Delivery Guarantee","identifiesControllerService":false,"sensitive":false},"Record Metadata Strategy":{"name":"Record Metadata Strategy","displayName":"Record Metadata Strategy","identifiesControllerService":false,"sensitive":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false},"ssl.context.service":{"name":"ssl.context.service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"max.request.size":{"name":"max.request.size","displayName":"Max Request Size","identifiesControllerService":false,"sensitive":false},"sasl.token.auth":{"name":"sasl.token.auth","displayName":"Token Auth","identifiesControllerService":false,"sensitive":false},"message-key-field":{"name":"message-key-field","displayName":"Message Key Field","identifiesControllerService":false,"sensitive":false},"Failure Strategy":{"name":"Failure Strategy","displayName":"Failure Strategy","identifiesControllerService":false,"sensitive":false},"partitioner.class":{"name":"partitioner.class","displayName":"Partitioner class","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.keytab":{"name":"sasl.kerberos.keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"topic":{"name":"topic","displayName":"Topic Name","identifiesControllerService":false,"sensitive":false},"sasl.password":{"name":"sasl.password","displayName":"Password","identifiesControllerService":false,"sensitive":true},"publish-strategy":{"name":"publish-strategy","displayName":"Publish Strategy","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"DISABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"54ecd938-8e26-3a2b-988a-f3a216970b9d"},{"identifier":"efd66dc4-07b0-38a5-99d5-16dae7dad718","instanceIdentifier":"efd66dc4-07b0-38a5-91d1-66726f34a750","name":"TransformXml","comments":"","position":{"x":1920.0,"y":296.0},"type":"org.apache.nifi.processors.standard.TransformXml","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.18.0.2.1.5.0-215"},"properties":{"xslt-controller-key":null,"xslt-controller":null,"secure-processing":"true","cache-size":"10","indent-output":"true","XSLT file name":"/home/jdbc/xml2json.xsl","cache-ttl-after-last-access":"60 secs"},"propertyDescriptors":{"xslt-controller-key":{"name":"xslt-controller-key","displayName":"XSLT Lookup key","identifiesControllerService":false,"sensitive":false},"xslt-controller":{"name":"xslt-controller","displayName":"XSLT Lookup","identifiesControllerService":true,"sensitive":false},"secure-processing":{"name":"secure-processing","displayName":"Secure processing","identifiesControllerService":false,"sensitive":false},"cache-size":{"name":"cache-size","displayName":"Cache size","identifiesControllerService":false,"sensitive":false},"indent-output":{"name":"indent-output","displayName":"Indent","identifiesControllerService":false,"sensitive":false},"XSLT file name":{"name":"XSLT file name","displayName":"XSLT file name","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"cache-ttl-after-last-access":{"name":"cache-ttl-after-last-access","displayName":"Cache TTL after last access","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"DISABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"54ecd938-8e26-3a2b-988a-f3a216970b9d"},{"identifier":"1d08eae8-555f-346a-a2bc-4d416d5d4503","instanceIdentifier":"ee9d7e55-018b-1000-ffff-fffffbcae63c","name":"JoltTransformJSON","comments":"","position":{"x":1104.0,"y":328.0},"type":"org.apache.nifi.processors.standard.JoltTransformJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.18.0.2.1.5.0-215"},"properties":{"jolt-spec":"[\n  {\n    \"operation\": \"shift\",\n    \"spec\": {\n      \"vXAccessAudits\": {\n        \"*\": \"\"\n      }\n    }\n  }\n]","jolt-transform":"jolt-transform-chain","jolt-custom-class":null,"jolt-custom-modules":null,"pretty_print":"false","Transform Cache Size":"1"},"propertyDescriptors":{"jolt-spec":{"name":"jolt-spec","displayName":"Jolt Specification","identifiesControllerService":false,"sensitive":false},"jolt-transform":{"name":"jolt-transform","displayName":"Jolt Transformation DSL","identifiesControllerService":false,"sensitive":false},"jolt-custom-class":{"name":"jolt-custom-class","displayName":"Custom Transformation Class Name","identifiesControllerService":false,"sensitive":false},"jolt-custom-modules":{"name":"jolt-custom-modules","displayName":"Custom Module Directory","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}},"pretty_print":{"name":"pretty_print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false},"Transform Cache Size":{"name":"Transform Cache Size","displayName":"Transform Cache Size","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"54ecd938-8e26-3a2b-988a-f3a216970b9d"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"f6ac8c14-2ae8-3596-986b-7e1a36237265","instanceIdentifier":"f6ac8c14-2ae8-3596-b51d-a493598192eb","name":"","source":{"id":"64406251-909c-3863-bfa0-95e8d373b149","type":"PROCESSOR","groupId":"54ecd938-8e26-3a2b-988a-f3a216970b9d","name":"RouteOnAttribute","comments":"","instanceIdentifier":"64406251-909c-3863-9825-39c32e296851"},"destination":{"id":"785da488-f978-300c-9d14-1c93a401d4c2","type":"PROCESSOR","groupId":"54ecd938-8e26-3a2b-988a-f3a216970b9d","name":"SplitJson","comments":"","instanceIdentifier":"785da488-f978-300c-8439-bba07139b64f"},"labelIndex":1,"zIndex":0,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"54ecd938-8e26-3a2b-988a-f3a216970b9d"},{"identifier":"fc5afd71-c8a5-3854-a224-64a34674b15b","instanceIdentifier":"ee9df845-018b-1000-0000-000073245367","name":"","source":{"id":"3777669f-90e3-32af-b3d3-67f0e63777a6","type":"PROCESSOR","groupId":"54ecd938-8e26-3a2b-988a-f3a216970b9d","name":"InvokeHTTP_RangerAPI","comments":"","instanceIdentifier":"3777669f-90e3-32af-982c-697ff86fd844"},"destination":{"id":"1d08eae8-555f-346a-a2bc-4d416d5d4503","type":"PROCESSOR","groupId":"54ecd938-8e26-3a2b-988a-f3a216970b9d","name":"JoltTransformJSON","comments":"","instanceIdentifier":"ee9d7e55-018b-1000-ffff-fffffbcae63c"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Response","No Retry","Retry","Original","Failure"],"backPressureObjectThreshold":100,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"54ecd938-8e26-3a2b-988a-f3a216970b9d"},{"identifier":"55aba36e-006f-39bf-8da9-24bc456f6db8","instanceIdentifier":"f25c9c3b-018b-1000-ffff-ffffaa9f04d9","name":"","source":{"id":"1d08eae8-555f-346a-a2bc-4d416d5d4503","type":"PROCESSOR","groupId":"54ecd938-8e26-3a2b-988a-f3a216970b9d","name":"JoltTransformJSON","comments":"","instanceIdentifier":"ee9d7e55-018b-1000-ffff-fffffbcae63c"},"destination":{"id":"d0ce14e6-429d-31d4-9621-aea2feb421df","type":"PROCESSOR","groupId":"54ecd938-8e26-3a2b-988a-f3a216970b9d","name":"ExecuteStreamCommand2lowerCase","comments":"","instanceIdentifier":"f25ac00b-018b-1000-ffff-ffff97571546"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success","failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"54ecd938-8e26-3a2b-988a-f3a216970b9d"},{"identifier":"a1372ee6-d434-37fe-a913-47dad7643693","instanceIdentifier":"a1372ee6-d434-37fe-b9ee-7d48162cef1b","name":"","source":{"id":"2d63e707-d6ad-3e7d-9d15-d974732a952a","type":"PROCESSOR","groupId":"54ecd938-8e26-3a2b-988a-f3a216970b9d","name":"JoltTransformJSON","comments":"","instanceIdentifier":"2d63e707-d6ad-3e7d-8fc3-969a5077c6bb"},"destination":{"id":"360c4d14-de3f-3b96-a855-8b136481dc07","type":"PROCESSOR","groupId":"54ecd938-8e26-3a2b-988a-f3a216970b9d","name":"SplitJson","comments":"","instanceIdentifier":"360c4d14-de3f-3b96-ba31-5323ff37ad80"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"54ecd938-8e26-3a2b-988a-f3a216970b9d"},{"identifier":"fd609528-a49c-393f-8106-8f1abaf49e84","instanceIdentifier":"fd609528-a49c-393f-abbb-740b0254f6f7","name":"","source":{"id":"785da488-f978-300c-9d14-1c93a401d4c2","type":"PROCESSOR","groupId":"54ecd938-8e26-3a2b-988a-f3a216970b9d","name":"SplitJson","comments":"","instanceIdentifier":"785da488-f978-300c-8439-bba07139b64f"},"destination":{"id":"8f06ee2a-955d-3eb4-8d81-95c12bc3d1c9","type":"FUNNEL","groupId":"54ecd938-8e26-3a2b-988a-f3a216970b9d","name":"Funnel","comments":"","instanceIdentifier":"8f06ee2a-955d-3eb4-96b1-c1a469330f9f"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"54ecd938-8e26-3a2b-988a-f3a216970b9d"},{"identifier":"847f4ac4-5206-3e14-803c-0822c8caec81","instanceIdentifier":"847f4ac4-5206-3e14-a4e6-0f7473033c45","name":"","source":{"id":"efd66dc4-07b0-38a5-99d5-16dae7dad718","type":"PROCESSOR","groupId":"54ecd938-8e26-3a2b-988a-f3a216970b9d","name":"TransformXml","comments":"","instanceIdentifier":"efd66dc4-07b0-38a5-91d1-66726f34a750"},"destination":{"id":"6f302121-03c6-3bad-9466-336137aa3f2c","type":"PROCESSOR","groupId":"54ecd938-8e26-3a2b-988a-f3a216970b9d","name":"JoltTransformJSON","comments":"","instanceIdentifier":"6f302121-03c6-3bad-aa8f-515c3f7dcfac"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"54ecd938-8e26-3a2b-988a-f3a216970b9d"},{"identifier":"fa3a1a12-d1cf-38b5-8603-9f1b3203c35d","instanceIdentifier":"fa3a1a12-d1cf-38b5-8bed-2a16e2ed9f7b","name":"","source":{"id":"2d63e707-d6ad-3e7d-9d15-d974732a952a","type":"PROCESSOR","groupId":"54ecd938-8e26-3a2b-988a-f3a216970b9d","name":"JoltTransformJSON","comments":"","instanceIdentifier":"2d63e707-d6ad-3e7d-8fc3-969a5077c6bb"},"destination":{"id":"e0750e98-6c65-3191-a9db-e085436ffeee","type":"FUNNEL","groupId":"54ecd938-8e26-3a2b-988a-f3a216970b9d","name":"Funnel","comments":"","instanceIdentifier":"e0750e98-6c65-3191-b179-e7623d582173"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"54ecd938-8e26-3a2b-988a-f3a216970b9d"},{"identifier":"f016b1cf-a417-3041-a325-e446352a56ad","instanceIdentifier":"f016b1cf-a417-3041-82e8-c97ff2894ab3","name":"","source":{"id":"efd66dc4-07b0-38a5-99d5-16dae7dad718","type":"PROCESSOR","groupId":"54ecd938-8e26-3a2b-988a-f3a216970b9d","name":"TransformXml","comments":"","instanceIdentifier":"efd66dc4-07b0-38a5-91d1-66726f34a750"},"destination":{"id":"3263c247-21ca-32eb-85f4-b630313d32fd","type":"FUNNEL","groupId":"54ecd938-8e26-3a2b-988a-f3a216970b9d","name":"Funnel","comments":"","instanceIdentifier":"3263c247-21ca-32eb-8a44-ec3e49da36a2"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"54ecd938-8e26-3a2b-988a-f3a216970b9d"},{"identifier":"d48a4835-3aab-3351-83b3-b4cd2c72e4e4","instanceIdentifier":"d48a4835-3aab-3351-9754-000c05135e52","name":"","source":{"id":"360c4d14-de3f-3b96-a855-8b136481dc07","type":"PROCESSOR","groupId":"54ecd938-8e26-3a2b-988a-f3a216970b9d","name":"SplitJson","comments":"","instanceIdentifier":"360c4d14-de3f-3b96-ba31-5323ff37ad80"},"destination":{"id":"bed7aafd-5a69-35ca-a5da-2db2f91914bc","type":"PROCESSOR","groupId":"54ecd938-8e26-3a2b-988a-f3a216970b9d","name":"PutKudu","comments":"","instanceIdentifier":"bed7aafd-5a69-35ca-a96e-58557cb3008a"},"labelIndex":1,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"54ecd938-8e26-3a2b-988a-f3a216970b9d"},{"identifier":"48cca53c-c8b3-37d9-ae48-fa84b5bc7be7","instanceIdentifier":"f0190db1-0185-1000-0000-000030a5faec","name":"","source":{"id":"3028625b-4cff-3aae-aa0a-95e086843efe","type":"PROCESSOR","groupId":"54ecd938-8e26-3a2b-988a-f3a216970b9d","name":"InvokeHTTP_CMrestAPI_impalaQueries","comments":"","instanceIdentifier":"2922369c-01bd-1eaf-a1e9-73973da22ec9"},"destination":{"id":"2de2cb8b-2e64-378a-a275-4b8518626c50","type":"FUNNEL","groupId":"54ecd938-8e26-3a2b-988a-f3a216970b9d","name":"Funnel","comments":"","instanceIdentifier":"f018e727-0185-1000-ffff-fffffacc4357"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Response","No Retry","Retry","Original","Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"54ecd938-8e26-3a2b-988a-f3a216970b9d"},{"identifier":"876aa338-930b-3d15-b70f-41f731913ddc","instanceIdentifier":"876aa338-930b-3d15-8c44-8f70756d561c","name":"","source":{"id":"85e37634-899c-3925-b905-e46b344e1ce9","type":"PROCESSOR","groupId":"54ecd938-8e26-3a2b-988a-f3a216970b9d","name":"InvokeHTTP_CMrestAPI_impalaQueries","comments":"","instanceIdentifier":"85e37634-899c-3925-8d62-4861c9a43708"},"destination":{"id":"2d63e707-d6ad-3e7d-9d15-d974732a952a","type":"PROCESSOR","groupId":"54ecd938-8e26-3a2b-988a-f3a216970b9d","name":"JoltTransformJSON","comments":"","instanceIdentifier":"2d63e707-d6ad-3e7d-8fc3-969a5077c6bb"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"54ecd938-8e26-3a2b-988a-f3a216970b9d"},{"identifier":"fc67cdbd-25f5-3d6a-bbe3-740f9b947e84","instanceIdentifier":"fc67cdbd-25f5-3d6a-9204-365a6558272d","name":"","source":{"id":"3c5427da-853a-32c1-9e7e-9d3036dfa477","type":"PROCESSOR","groupId":"54ecd938-8e26-3a2b-988a-f3a216970b9d","name":"ExecuteStreamCommand","comments":"","instanceIdentifier":"3c5427da-853a-32c1-98eb-7441181b4611"},"destination":{"id":"efd66dc4-07b0-38a5-99d5-16dae7dad718","type":"PROCESSOR","groupId":"54ecd938-8e26-3a2b-988a-f3a216970b9d","name":"TransformXml","comments":"","instanceIdentifier":"efd66dc4-07b0-38a5-91d1-66726f34a750"},"labelIndex":1,"zIndex":0,"selectedRelationships":["output stream"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"54ecd938-8e26-3a2b-988a-f3a216970b9d"},{"identifier":"239e6dcc-9d51-3dfc-8a52-2d66a611fcd1","instanceIdentifier":"f25fd879-018b-1000-ffff-ffff8927f619","name":"","source":{"id":"d0ce14e6-429d-31d4-9621-aea2feb421df","type":"PROCESSOR","groupId":"54ecd938-8e26-3a2b-988a-f3a216970b9d","name":"ExecuteStreamCommand2lowerCase","comments":"","instanceIdentifier":"f25ac00b-018b-1000-ffff-ffff97571546"},"destination":{"id":"636c5ae6-ff36-35ad-870d-941e999d7d01","type":"PROCESSOR","groupId":"54ecd938-8e26-3a2b-988a-f3a216970b9d","name":"SplitJson","comments":"","instanceIdentifier":"cfad3f9d-8f5a-1fde-8d0a-e8d6890f3e98"},"labelIndex":1,"zIndex":0,"selectedRelationships":["output stream","nonzero status"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"54ecd938-8e26-3a2b-988a-f3a216970b9d"},{"identifier":"7df459de-11ca-3458-b494-5c04fd21dfb8","instanceIdentifier":"7df459de-11ca-3458-af46-640e8dbf7700","name":"","source":{"id":"785da488-f978-300c-9d14-1c93a401d4c2","type":"PROCESSOR","groupId":"54ecd938-8e26-3a2b-988a-f3a216970b9d","name":"SplitJson","comments":"","instanceIdentifier":"785da488-f978-300c-8439-bba07139b64f"},"destination":{"id":"ef3c6779-fe51-35d0-9589-679a75840d72","type":"PROCESSOR","groupId":"54ecd938-8e26-3a2b-988a-f3a216970b9d","name":"PutKudu","comments":"","instanceIdentifier":"ef3c6779-fe51-35d0-bb6c-568b9dae96fa"},"labelIndex":1,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"54ecd938-8e26-3a2b-988a-f3a216970b9d"},{"identifier":"8699fa10-47a0-30c0-9258-f4bb82d2fdb8","instanceIdentifier":"eeabd045-0181-1000-0000-000000e7c12f","name":"","source":{"id":"ef3c6779-fe51-35d0-9589-679a75840d72","type":"PROCESSOR","groupId":"54ecd938-8e26-3a2b-988a-f3a216970b9d","name":"PutKudu","comments":"","instanceIdentifier":"ef3c6779-fe51-35d0-bb6c-568b9dae96fa"},"destination":{"id":"f693497b-5df4-34b4-974a-3054e21c49dc","type":"FUNNEL","groupId":"54ecd938-8e26-3a2b-988a-f3a216970b9d","name":"Funnel","comments":"","instanceIdentifier":"f693497b-5df4-34b4-9d0f-6c6647f894dd"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"54ecd938-8e26-3a2b-988a-f3a216970b9d"},{"identifier":"bf027051-f68e-3d05-b2d6-a42c0d50740d","instanceIdentifier":"bf027051-f68e-3d05-a3bb-f4646c7147ee","name":"","source":{"id":"73b1502f-37bb-3c19-b6bd-31751131605d","type":"PROCESSOR","groupId":"54ecd938-8e26-3a2b-988a-f3a216970b9d","name":"PutKudu","comments":"","instanceIdentifier":"73b1502f-37bb-3c19-9c1f-b737b614ced1"},"destination":{"id":"3263c247-21ca-32eb-85f4-b630313d32fd","type":"FUNNEL","groupId":"54ecd938-8e26-3a2b-988a-f3a216970b9d","name":"Funnel","comments":"","instanceIdentifier":"3263c247-21ca-32eb-8a44-ec3e49da36a2"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"54ecd938-8e26-3a2b-988a-f3a216970b9d"},{"identifier":"fca7f79c-d6cf-3057-9974-39a2e9d201e3","instanceIdentifier":"fca7f79c-d6cf-3057-97bd-21721e18976b","name":"","source":{"id":"3c5427da-853a-32c1-9e7e-9d3036dfa477","type":"PROCESSOR","groupId":"54ecd938-8e26-3a2b-988a-f3a216970b9d","name":"ExecuteStreamCommand","comments":"","instanceIdentifier":"3c5427da-853a-32c1-98eb-7441181b4611"},"destination":{"id":"3263c247-21ca-32eb-85f4-b630313d32fd","type":"FUNNEL","groupId":"54ecd938-8e26-3a2b-988a-f3a216970b9d","name":"Funnel","comments":"","instanceIdentifier":"3263c247-21ca-32eb-8a44-ec3e49da36a2"},"labelIndex":1,"zIndex":0,"selectedRelationships":["nonzero status"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"54ecd938-8e26-3a2b-988a-f3a216970b9d"},{"identifier":"18bdede9-a197-3d4d-88b0-c76b46ae5f79","instanceIdentifier":"18bdede9-a197-3d4d-91ae-0e0cd8a85952","name":"","source":{"id":"bed7aafd-5a69-35ca-a5da-2db2f91914bc","type":"PROCESSOR","groupId":"54ecd938-8e26-3a2b-988a-f3a216970b9d","name":"PutKudu","comments":"","instanceIdentifier":"bed7aafd-5a69-35ca-a96e-58557cb3008a"},"destination":{"id":"e0750e98-6c65-3191-a9db-e085436ffeee","type":"FUNNEL","groupId":"54ecd938-8e26-3a2b-988a-f3a216970b9d","name":"Funnel","comments":"","instanceIdentifier":"e0750e98-6c65-3191-b179-e7623d582173"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"54ecd938-8e26-3a2b-988a-f3a216970b9d"},{"identifier":"f313b3ef-5d69-35e5-a056-153e554b1489","instanceIdentifier":"f313b3ef-5d69-35e5-a81d-8d2b442e3d6d","name":"","source":{"id":"a1381cb9-976f-3e9e-913c-84534ecbdb55","type":"PROCESSOR","groupId":"54ecd938-8e26-3a2b-988a-f3a216970b9d","name":"InvokeHTTP","comments":"","instanceIdentifier":"a1381cb9-976f-3e9e-9230-1abe7bead47a"},"destination":{"id":"df1b8a4c-72f1-3d78-a100-67470f22b888","type":"FUNNEL","groupId":"54ecd938-8e26-3a2b-988a-f3a216970b9d","name":"Funnel","comments":"","instanceIdentifier":"df1b8a4c-72f1-3d78-9467-720e7ab86c0d"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Response","No Retry","Retry","Original","Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"54ecd938-8e26-3a2b-988a-f3a216970b9d"},{"identifier":"5695b1d7-5803-30c5-84ea-a1699f6ff74d","instanceIdentifier":"f7e8a913-0181-1000-0000-00006cf62060","name":"","source":{"id":"785da488-f978-300c-9d14-1c93a401d4c2","type":"PROCESSOR","groupId":"54ecd938-8e26-3a2b-988a-f3a216970b9d","name":"SplitJson","comments":"","instanceIdentifier":"785da488-f978-300c-8439-bba07139b64f"},"destination":{"id":"1f7fe0b6-53f1-3d51-8f7a-f8828011ab23","type":"PROCESSOR","groupId":"54ecd938-8e26-3a2b-988a-f3a216970b9d","name":"PublishKafkaRecord_2_6 to yarnjobs topic","comments":"","instanceIdentifier":"f7e86432-0181-1000-ffff-ffffc0c3add8"},"labelIndex":1,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"54ecd938-8e26-3a2b-988a-f3a216970b9d"},{"identifier":"05837cfb-71ac-39d6-a875-e638e6780aa9","instanceIdentifier":"05837cfb-71ac-39d6-8da1-5896846a4002","name":"","source":{"id":"a767574e-2ce0-351a-84c7-18c3d020921e","type":"PROCESSOR","groupId":"54ecd938-8e26-3a2b-988a-f3a216970b9d","name":"QueryClouderaManagerAPIInvokeHTTP","comments":"","instanceIdentifier":"a767574e-2ce0-351a-b44a-b188181b17f7"},"destination":{"id":"4d60033e-6726-3f8c-b961-6a3874bb6e61","type":"PROCESSOR","groupId":"54ecd938-8e26-3a2b-988a-f3a216970b9d","name":"JoltTransformJSON","comments":"New, with tolower transform\n\n[\n  {\n    \"operation\": \"shift\",\n    \"spec\": {\n      \"country\": \"country\",\n      \"applications\": {\n        \"*\": { // state array index\n          \"applicationId\": \"applications[&1].applicationId\",\n          \"attributes\": \"applications[&1].attributes\",\n          \"attributes.diagnostics\": \"applications[&1].attributes\",\n          \"mr2AppInformation\": \"applications[&1].mr2AppInformation\",\n          \"name\": \"applications[&1].name\",\n          \"startTime\": \"applications[&1].startTime\",\n          \"user\": \"applications[&1].user\",\n          \"pool\": \"applications[&1].pool\",\n          \"state\": \"applications[&1].state\",\n          \"progress\": \"applications[&1].progress\",\n          \"applicationTags\": \"applications[&1].applicationTags\",\n          \"allocatedMemorySeconds\": \"applications[&1].allocatedMemorySeconds\",\n          \"allocatedVcoreSeconds\": \"applications[&1].allocatedVcoreSeconds\",\n          \"allocatedMB\": \"applications[&1].allocatedMB\",\n          \"allocatedVCores\": \"applications[&1].allocatedVCores\",\n          \"runningContainers\": \"applications[&1].runningContainers\"\n        }\n      }\n    }\n  },{\n    // unwrap the keys and values into literal\n    // \"key\" : \"A\", \"value\" : \"b\"\n    \"operation\": \"shift\",\n    \"spec\": {\n      \"*\": {\n        \"$\": \"&1.key\",\n        \"@\": \"&1.value\"\n      },\n      //do the same for everything in aliases\n      //&3 = applications\n      //&2 = array position\n      //&1 = position of kvp\n      \"applications\": {\n        \"*\": {\n          \"*\": {\n            \"$\": \"&3.&2.&1.key\",\n            \"@\": \"&3.&2.&1.value\"\n          }\n        }\n      }\n    }\n  },\n  {\n    \"operation\": \"modify-overwrite-beta\",\n    \"spec\": {\n      \"*\": {\n        // Now that the origional key\n        //  is on the \"right hand side\"\n        //  lowercase it\n        \"key\": \"=toLower\"\n      },\n      \"applications\": {\n        \"*\": {\n          \"*\": {\n            // Now that the origional key\n            //  is on the \"right hand side\"\n            //  lowercase it\n            \"key\": \"=toLower\"\n          }\n        }\n      }\n    }\n  },\n  {\n    // pivot back, the now lowercased keys\n    \"operation\": \"shift\",\n    \"spec\": {\n      \"*\": {\n        \"value\": \"@(1,key)\"\n      },\n      \"applications\": {\n        \"*\": {\n          \"*\": {\n            //&3 = applications\n            //&2 = array postion\n            //@(1,key) values from \"key\"\n            \"value\": \"&3.[&2].@(1,key)\"\n          }\n        }\n      }\n    }\n  }\n]\n\n\nOLD, without the to lower\n\n[\n  {\n    \"operation\": \"shift\",\n    \"spec\": {\n      \"country\": \"country\",\n      \"applications\": {\n        \"*\": { // state array index\n          \"applicationId\": \"applications[&1].applicationId\",\n          \"attributes\": \"applications[&1].attributes\",\n          \"attributes.diagnostics\": \"applications[&1].attributes\",\n          \"mr2AppInformation\": \"applications[&1].mr2AppInformation\",\n          \"name\": \"applications[&1].name\",\n          \"startTime\": \"applications[&1].startTime\",\n          \"user\": \"applications[&1].user\",\n          \"pool\": \"applications[&1].pool\",\n          \"state\": \"applications[&1].state\",\n          \"progress\": \"applications[&1].progress\",\n          \"applicationTags\": \"applications[&1].applicationTags\",\n          \"allocatedMemorySeconds\": \"applications[&1].allocatedMemorySeconds\",\n          \"allocatedVcoreSeconds\": \"applications[&1].allocatedVcoreSeconds\",\n          \"allocatedMB\": \"applications[&1].allocatedMB\",\n          \"allocatedVCores\": \"applications[&1].allocatedVCores\",\n          \"runningContainers\": \"applications[&1].runningContainers\"\n        }\n      }\n    }\n  }\n]\n","instanceIdentifier":"4d60033e-6726-3f8c-bb99-a51d65edc8fd"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Response","No Retry","Retry","Original","Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"54ecd938-8e26-3a2b-988a-f3a216970b9d"},{"identifier":"f72eef30-f616-31a9-82b4-87233eb3cd9c","instanceIdentifier":"f72eef30-f616-31a9-be75-299a58848fbb","name":"","source":{"id":"c4cac3ae-f6d0-390f-9697-192a7493ee6f","type":"PROCESSOR","groupId":"54ecd938-8e26-3a2b-988a-f3a216970b9d","name":"SplitJson","comments":"","instanceIdentifier":"c4cac3ae-f6d0-390f-8c3e-f264e4ade5a7"},"destination":{"id":"73b1502f-37bb-3c19-b6bd-31751131605d","type":"PROCESSOR","groupId":"54ecd938-8e26-3a2b-988a-f3a216970b9d","name":"PutKudu","comments":"","instanceIdentifier":"73b1502f-37bb-3c19-9c1f-b737b614ced1"},"labelIndex":1,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"54ecd938-8e26-3a2b-988a-f3a216970b9d"},{"identifier":"72a6ded3-798b-370a-b9d5-86794a6e170d","instanceIdentifier":"72a6ded3-798b-370a-84a8-81d540d11910","name":"","source":{"id":"4d60033e-6726-3f8c-b961-6a3874bb6e61","type":"PROCESSOR","groupId":"54ecd938-8e26-3a2b-988a-f3a216970b9d","name":"JoltTransformJSON","comments":"New, with tolower transform\n\n[\n  {\n    \"operation\": \"shift\",\n    \"spec\": {\n      \"country\": \"country\",\n      \"applications\": {\n        \"*\": { // state array index\n          \"applicationId\": \"applications[&1].applicationId\",\n          \"attributes\": \"applications[&1].attributes\",\n          \"attributes.diagnostics\": \"applications[&1].attributes\",\n          \"mr2AppInformation\": \"applications[&1].mr2AppInformation\",\n          \"name\": \"applications[&1].name\",\n          \"startTime\": \"applications[&1].startTime\",\n          \"user\": \"applications[&1].user\",\n          \"pool\": \"applications[&1].pool\",\n          \"state\": \"applications[&1].state\",\n          \"progress\": \"applications[&1].progress\",\n          \"applicationTags\": \"applications[&1].applicationTags\",\n          \"allocatedMemorySeconds\": \"applications[&1].allocatedMemorySeconds\",\n          \"allocatedVcoreSeconds\": \"applications[&1].allocatedVcoreSeconds\",\n          \"allocatedMB\": \"applications[&1].allocatedMB\",\n          \"allocatedVCores\": \"applications[&1].allocatedVCores\",\n          \"runningContainers\": \"applications[&1].runningContainers\"\n        }\n      }\n    }\n  },{\n    // unwrap the keys and values into literal\n    // \"key\" : \"A\", \"value\" : \"b\"\n    \"operation\": \"shift\",\n    \"spec\": {\n      \"*\": {\n        \"$\": \"&1.key\",\n        \"@\": \"&1.value\"\n      },\n      //do the same for everything in aliases\n      //&3 = applications\n      //&2 = array position\n      //&1 = position of kvp\n      \"applications\": {\n        \"*\": {\n          \"*\": {\n            \"$\": \"&3.&2.&1.key\",\n            \"@\": \"&3.&2.&1.value\"\n          }\n        }\n      }\n    }\n  },\n  {\n    \"operation\": \"modify-overwrite-beta\",\n    \"spec\": {\n      \"*\": {\n        // Now that the origional key\n        //  is on the \"right hand side\"\n        //  lowercase it\n        \"key\": \"=toLower\"\n      },\n      \"applications\": {\n        \"*\": {\n          \"*\": {\n            // Now that the origional key\n            //  is on the \"right hand side\"\n            //  lowercase it\n            \"key\": \"=toLower\"\n          }\n        }\n      }\n    }\n  },\n  {\n    // pivot back, the now lowercased keys\n    \"operation\": \"shift\",\n    \"spec\": {\n      \"*\": {\n        \"value\": \"@(1,key)\"\n      },\n      \"applications\": {\n        \"*\": {\n          \"*\": {\n            //&3 = applications\n            //&2 = array postion\n            //@(1,key) values from \"key\"\n            \"value\": \"&3.[&2].@(1,key)\"\n          }\n        }\n      }\n    }\n  }\n]\n\n\nOLD, without the to lower\n\n[\n  {\n    \"operation\": \"shift\",\n    \"spec\": {\n      \"country\": \"country\",\n      \"applications\": {\n        \"*\": { // state array index\n          \"applicationId\": \"applications[&1].applicationId\",\n          \"attributes\": \"applications[&1].attributes\",\n          \"attributes.diagnostics\": \"applications[&1].attributes\",\n          \"mr2AppInformation\": \"applications[&1].mr2AppInformation\",\n          \"name\": \"applications[&1].name\",\n          \"startTime\": \"applications[&1].startTime\",\n          \"user\": \"applications[&1].user\",\n          \"pool\": \"applications[&1].pool\",\n          \"state\": \"applications[&1].state\",\n          \"progress\": \"applications[&1].progress\",\n          \"applicationTags\": \"applications[&1].applicationTags\",\n          \"allocatedMemorySeconds\": \"applications[&1].allocatedMemorySeconds\",\n          \"allocatedVcoreSeconds\": \"applications[&1].allocatedVcoreSeconds\",\n          \"allocatedMB\": \"applications[&1].allocatedMB\",\n          \"allocatedVCores\": \"applications[&1].allocatedVCores\",\n          \"runningContainers\": \"applications[&1].runningContainers\"\n        }\n      }\n    }\n  }\n]\n","instanceIdentifier":"4d60033e-6726-3f8c-bb99-a51d65edc8fd"},"destination":{"id":"64406251-909c-3863-bfa0-95e8d373b149","type":"PROCESSOR","groupId":"54ecd938-8e26-3a2b-988a-f3a216970b9d","name":"RouteOnAttribute","comments":"","instanceIdentifier":"64406251-909c-3863-9825-39c32e296851"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success","failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"54ecd938-8e26-3a2b-988a-f3a216970b9d"},{"identifier":"627dce47-8267-3feb-b3af-b0d1e2ba21b1","instanceIdentifier":"627dce47-8267-3feb-856d-eb63f2b1f116","name":"","source":{"id":"6f302121-03c6-3bad-9466-336137aa3f2c","type":"PROCESSOR","groupId":"54ecd938-8e26-3a2b-988a-f3a216970b9d","name":"JoltTransformJSON","comments":"","instanceIdentifier":"6f302121-03c6-3bad-aa8f-515c3f7dcfac"},"destination":{"id":"3263c247-21ca-32eb-85f4-b630313d32fd","type":"FUNNEL","groupId":"54ecd938-8e26-3a2b-988a-f3a216970b9d","name":"Funnel","comments":"","instanceIdentifier":"3263c247-21ca-32eb-8a44-ec3e49da36a2"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"54ecd938-8e26-3a2b-988a-f3a216970b9d"},{"identifier":"31100830-81c1-3262-8aee-63ed6eb68601","instanceIdentifier":"3d663b3f-c9a3-1728-0000-000049437f88","name":"","source":{"id":"636c5ae6-ff36-35ad-870d-941e999d7d01","type":"PROCESSOR","groupId":"54ecd938-8e26-3a2b-988a-f3a216970b9d","name":"SplitJson","comments":"","instanceIdentifier":"cfad3f9d-8f5a-1fde-8d0a-e8d6890f3e98"},"destination":{"id":"e2132121-73a4-3784-9a61-e1aea6ea4dd3","type":"PROCESSOR","groupId":"54ecd938-8e26-3a2b-988a-f3a216970b9d","name":"PutKudu","comments":"","instanceIdentifier":"3d663b3c-c9a3-1728-928c-912073f2e625"},"labelIndex":1,"zIndex":0,"selectedRelationships":["split","failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"54ecd938-8e26-3a2b-988a-f3a216970b9d"},{"identifier":"c60b2095-a67f-3dab-b5bd-ee8d23504ee0","instanceIdentifier":"c60b2095-a67f-3dab-96c3-96df0b027429","name":"","source":{"id":"6f302121-03c6-3bad-9466-336137aa3f2c","type":"PROCESSOR","groupId":"54ecd938-8e26-3a2b-988a-f3a216970b9d","name":"JoltTransformJSON","comments":"","instanceIdentifier":"6f302121-03c6-3bad-aa8f-515c3f7dcfac"},"destination":{"id":"c4cac3ae-f6d0-390f-9697-192a7493ee6f","type":"PROCESSOR","groupId":"54ecd938-8e26-3a2b-988a-f3a216970b9d","name":"SplitJson","comments":"","instanceIdentifier":"c4cac3ae-f6d0-390f-8c3e-f264e4ade5a7"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"54ecd938-8e26-3a2b-988a-f3a216970b9d"}],"labels":[{"identifier":"10c60e42-7fb6-352e-88aa-6358f1ef5c2a","instanceIdentifier":"10c60e42-7fb6-352e-a4c0-197a43d91792","position":{"x":-216.0,"y":-8.0},"label":"YARN","zIndex":0,"width":560.0,"height":232.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"54ecd938-8e26-3a2b-988a-f3a216970b9d"},{"identifier":"f4c104b5-997b-327c-aa0d-5a4a2a76b37a","instanceIdentifier":"f4c104b5-997b-327c-978e-4c778b4e2d37","position":{"x":368.0,"y":-8.0},"label":"Impala\n","zIndex":0,"width":560.0,"height":232.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"54ecd938-8e26-3a2b-988a-f3a216970b9d"},{"identifier":"7784cb72-36c2-3309-9f84-ebc65af48829","instanceIdentifier":"f2598069-018b-1000-0000-00005ea5946c","position":{"x":1907.4723,"y":83.84243},"label":"ranger used to produce xml\n","zIndex":0,"width":148.0,"height":148.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"54ecd938-8e26-3a2b-988a-f3a216970b9d"},{"identifier":"82f47102-5706-344b-9968-46e0c5f7085f","instanceIdentifier":"82f47102-5706-344b-8ce1-c7b8330f3950","position":{"x":-1456.0,"y":424.0},"label":"CDP Public Cloud Data Hub\nCM API\nnote: need to turn on VPN to hit the cm api\n\nuse freeIPA userid and password\n\ncurl -X GET -u 'marty:PASSWORD' \nhttps://martycmapitest-gateway.se-sandb.a465-9q4k.cloudera.site/martycmapitest/cdp-proxy-api/cm-api/v43/clusters/martycmapitest/services/yarn/yarnApplications\n\n","zIndex":0,"width":464.0,"height":288.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"54ecd938-8e26-3a2b-988a-f3a216970b9d"},{"identifier":"41312baa-8fcf-3c14-ac34-d854e00b22eb","instanceIdentifier":"41312baa-8fcf-3c14-8e9d-61c10da0fe0e","position":{"x":968.0,"y":0.0},"label":"Ranger audits\n\n","zIndex":0,"width":560.0,"height":232.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"54ecd938-8e26-3a2b-988a-f3a216970b9d"}],"funnels":[{"identifier":"2de2cb8b-2e64-378a-a275-4b8518626c50","instanceIdentifier":"f018e727-0185-1000-ffff-fffffacc4357","position":{"x":699.6231,"y":1258.1783},"componentType":"FUNNEL","groupIdentifier":"54ecd938-8e26-3a2b-988a-f3a216970b9d"},{"identifier":"3263c247-21ca-32eb-85f4-b630313d32fd","instanceIdentifier":"3263c247-21ca-32eb-8a44-ec3e49da36a2","position":{"x":2048.0,"y":960.0},"componentType":"FUNNEL","groupIdentifier":"54ecd938-8e26-3a2b-988a-f3a216970b9d"},{"identifier":"f693497b-5df4-34b4-974a-3054e21c49dc","instanceIdentifier":"f693497b-5df4-34b4-9d0f-6c6647f894dd","position":{"x":384.0,"y":992.0},"componentType":"FUNNEL","groupIdentifier":"54ecd938-8e26-3a2b-988a-f3a216970b9d"},{"identifier":"e0750e98-6c65-3191-a9db-e085436ffeee","instanceIdentifier":"e0750e98-6c65-3191-b179-e7623d582173","position":{"x":968.0,"y":584.0},"componentType":"FUNNEL","groupIdentifier":"54ecd938-8e26-3a2b-988a-f3a216970b9d"},{"identifier":"8f06ee2a-955d-3eb4-8d81-95c12bc3d1c9","instanceIdentifier":"8f06ee2a-955d-3eb4-96b1-c1a469330f9f","position":{"x":-128.0,"y":640.0},"componentType":"FUNNEL","groupIdentifier":"54ecd938-8e26-3a2b-988a-f3a216970b9d"},{"identifier":"df1b8a4c-72f1-3d78-a100-67470f22b888","instanceIdentifier":"df1b8a4c-72f1-3d78-9467-720e7ab86c0d","position":{"x":-712.0,"y":576.0},"componentType":"FUNNEL","groupIdentifier":"54ecd938-8e26-3a2b-988a-f3a216970b9d"}],"controllerServices":[{"identifier":"4202af10-6ec8-33e3-ac7f-1fe9aff436ef","instanceIdentifier":"3f9b1a88-c539-3621-8215-89c0ab516963","name":"JsonTreeReader","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.18.0.2.1.5.0-215"},"properties":{"schema-branch":null,"schema-application-strategy":"SELECTED_PART","Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-name":"${schema.name}","starting-field-strategy":"ROOT_NODE","schema-registry":null,"starting-field-name":null,"Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-application-strategy":{"name":"schema-application-strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"starting-field-strategy":{"name":"starting-field-strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"starting-field-name":{"name":"starting-field-name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.18.0.2.1.5.0-215"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"608b5034-2ce3-3584-b128-8037c9b33d04"},{"identifier":"158f0cd1-5eb9-304e-b3fe-8b855e5f69c7","instanceIdentifier":"f7eac43d-0181-1000-ffff-fffffd2157a9","name":"JsonRecordSetWriter","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.18.0.2.1.5.0-215"},"properties":{"schema-branch":null,"compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-protocol-version":"1","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.18.0.2.1.5.0-215"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"54ecd938-8e26-3a2b-988a-f3a216970b9d"}],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}